:root {
  --form-inner-green: hsl(151.2, 28.1%, 17.5%);
}

.pop-up {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #00000069;
}

.shown {
  display: flex;
}

.hidden {
  display: none;
}

.form-general {
  padding: 20px 0;
  background: hsla(131.3, 21.6%, 29%, 0.93);
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  z-index: 2;
  box-shadow: 0 21px 19px #00000061;

  & > * {
    width: 87%;
  }

  h1 {
    font-size: 20px;
    text-transform: uppercase;
    color: #f0fff3;
    margin: 0;
  }

  label {
    display: flex;
    flex-direction: column;
    margin: 8px 0;

    span {
      color: #dbffe2;
      font-weight: bold;
      padding-left: 6px;
    }

    input, textarea, .form--box {
      width: 100%;
    }

    input, textarea, .form--box, .price-label select {
      border: none;
      border-radius: 3px;
      outline: 1px solid var(--hunter-green);
      background-color: var(--form-inner-green);
      appearance: none;
      padding: 9px 6px;
      color: white;
      box-sizing: border-box;
      box-shadow: 0 3px 8px hsl(150deg, 42.9%, 13.5%);
    }

    .form--box {
      height: 100px;
    }

    .price-label {
      display: flex;

      select {
        cursor: pointer;
        margin-left: 10px;

        &:hover {
          outline: none;
        }
      }
    }
  }
  
  .button-area {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;

    button {
      background-color: var(--form-inner-green);
      border: none;
      padding: 7px 15px;
      color: white;
      border-radius: 5px;
      font-weight: bold;
      box-shadow: 0px 5px 6px #012d18;
      opacity: 0.8;

      &:hover {
        outline: 1px solid var(--hunter-green);
        cursor: pointer;
        border-radius: 7px;
        text-decoration: underline;
        opacity: 1;
      }
    }
  }
}

