:root {
  --form-inner-green: hsla(151.2, 28.1%, 23.5%, 30%);
}

.pop-up {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #00000069;
}

.shown {
  display: flex;
}

.hidden {
  display: none;
}

.form-general {
  padding: 20px 0;
  // background: hsla(131.3, 21.6%, 29%);
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  z-index: 2;
  box-shadow: 0 21px 19px #00000061;
  border: 1px solid #ffffff23;
  background-color: #00000018;

  & > * {
    width: 87%;
  }

  h1 {
    font-size: 20px;
    text-transform: uppercase;
    color: #f0fff3;
    margin: 0;
  }

  label {
    display: flex;
    flex-direction: column;
    margin: 8px 0;

    span {
      color: #dbffe2;
      font-weight: bold;
      padding-left: 6px;
    }

    input, textarea, .form--box {
      width: 100%;
    }

    input, textarea, .form--box, .price-label select {
      // border: 1px solid var(--hunter-green);
      border-radius: 15px;
      border: 1px solid transparent;
      background-color: var(--form-inner-green);
      appearance: none;
      padding: 9px 10px;
      color: white;
      box-sizing: border-box;
      box-shadow: 0 4px 12px #00000070;
    }

    .form--box {
      height: 100px;
    }

    .price-label {
      display: flex;

      select {
        cursor: pointer;
        margin-left: 10px;
        height: max-content;

        &:hover {
          outline: none;
        }
      }
    }
  }

  .widespread {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    span {
      margin-right: 4px;
      border-left: 5px solid #578660;
      border-radius: 5px;
      box-shadow: -5px 0 5px -5px #0006;
    }

    .datetime-label {
      display: flex;
      margin-right: 10px;
      text-align: center;
      width: max-content;

      input {
        margin: 0 5px;
        text-align: center;
        padding: 9px 0px;
        border-radius: 9px;
      }
    }

  }

  
  .button-area {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;

    button {
      background-color: var(--form-inner-green);
      padding: 7px 15px;
      font-weight: bold;
      opacity: 0.8;

      &:hover {
        border: 1px solid #ffffff23;
        background-color: var(--hunter-green);
        cursor: pointer;
        border-radius: 7px;
        text-decoration: underline;
        opacity: 1;
      }

      &:active {
        background-color: var(--hover-green);
      }
    }
  }
}


