.dashboard-history {
  height: 80%;

  .header, .store-name, .datetime {
    text-transform: uppercase;
  }

  .header {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.05rem;
    margin-bottom: 10px;

    .primary {
      font-weight: bold;
    }

    .secondary {
      color: #bbb;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .store-name {
    font-weight: bold;
    font-size: 17px;
    margin-right: 10px;
  }

  .datetime {
    color: #aaa;
    font-size: 14px;
    font-weight: bold;
  }

  .item-atom {
    width: max-content;
    padding: 10px;
    background-color: var(--brunswick-green);
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 20px -2px #00000060;
  }

  .receipt-atom {
    width: 97%;
    margin: 7px auto;
    padding: 10px 5px;
    border-radius: 5px;

    &:hover {
      background-color: hsla(150, 20%, 13%, 1);
      box-shadow: 0 4px 6px hsla(0deg, 0%, 0%, 30%);
      border: 1px solid var(--hover-green);
    }

    .spread {
      justify-content:  space-between;
      align-items: center;

      .item-contents {
        display: flex;
        overflow-x: scroll;
      }

      .totals {
        margin-right: 15px;
        text-align: center;
        font-weight: bold;
        line-height: 1.2;
        border-left: 2px solid white;
        padding-left: 10px;
      }
    }
  }
}

.spread {
  display: flex;
}

.adding-area {
  height: 20%;
}

