:root {
  --timberwolf: hsla(46, 15%, 83%, 1);
  --laurel-green: hsla(82, 20%, 62%, 1);
  --fern-green: hsla(119, 19%, 42%, 1);
  --hunter-green: hsla(131, 22%, 29%, 1);
  --brunswick-green: hsla(150, 20%, 25%, 1);

  /* Gradient styles */
  --gradient-top: linear-gradient(0deg, #dad7cdff, #a3b18aff, #588157ff, #3a5a40ff, #344e41ff);
  --gradient-right: linear-gradient(90deg, #dad7cdff, #a3b18aff, #588157ff, #3a5a40ff, #344e41ff);
  --gradient-bottom: linear-gradient(180deg, #dad7cdff, #a3b18aff, #588157ff, #3a5a40ff, #344e41ff);
  --gradient-left: linear-gradient(270deg, #dad7cdff, #a3b18aff, #588157ff, #3a5a40ff, #344e41ff);
  --gradient-top-right: linear-gradient(45deg, #dad7cdff, #a3b18aff, #588157ff, #3a5a40ff, #344e41ff);
  --gradient-bottom-right: linear-gradient(135deg, #dad7cdff, #a3b18aff, #588157ff, #3a5a40ff, #344e41ff);
  --gradient-top-left: linear-gradient(225deg, #dad7cdff, #a3b18aff, #588157ff, #3a5a40ff, #344e41ff);
  --gradient-bottom-left: linear-gradient(315deg, #dad7cdff, #a3b18aff, #588157ff, #3a5a40ff, #344e41ff);
  --gradient-radial: radial-gradient(#dad7cdff, #a3b18aff, #588157ff, #3a5a40ff, #344e41ff);
}

body {
  color: white;
  margin: 0;
  padding: 0;
}

.main-body {
  background-color: hsl(0, 0%, 10%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .welcome-message {
    background-color: hsl(148.4, 19.6%, 19%);
    padding: 2px 24px;
    border-radius: 10px;
    box-shadow: 0 6px 6px #00000073, 0 17px 22px #0000003d;
    width: 60vw;

    .options {
      display: flex;
      justify-content: space-evenly;

      button {
        border: none;
        border-radius: 4px;
        padding: 6px 10px;
        background-color: hsl(120, 19.6%, 37.1%);
        color: white;
      }
    }
  }
}

