:root {
  --timberwolf: hsla(46, 15%, 83%, 1);
  --laurel-green: hsla(82, 20%, 62%, 1);
  --fern-green: hsla(119, 19%, 42%, 1);
  --hunter-green: hsla(131, 22%, 29%, 1);
  --brunswick-green: hsla(150, 20%, 25%, 1);
}

body {
  color: white;
  margin: 0;
  padding: 0;
}

.main-body {
  background-color: hsl(0, 0%, 10%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .big-logo {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    img {
      height: 28px;
      transform: scaleX(1.4);
      margin-right: 10px;
    }

    h1 {
      text-transform: uppercase;
      font-size: 24px;
      color: hsl(87.4, 46.1%, 47%);
    }
  }

  .welcome-message {
    background-color: hsl(148.4, 19.6%, 19%);
    padding: 30px 24px;
    border-radius: 10px;
    box-shadow: 0 6px 6px #00000073, 0 17px 22px #0000003d;
    width: 60vw;

    h1 {
      margin: 0;
    }

    .options {
      display: flex;
      justify-content: space-evenly;

      button {
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 6px 10px;
        background-color: hsl(120, 19.6%, 37.1%);
        color: white;
        cursor: pointer;
        box-shadow: 0px 4px 5px #0000005A;

        width: 10ch;

        &:hover {
          box-shadow: 0 3px 8px rgba(0, 49, 10, 0.51), 0 5px 9px rgba(0, 0, 0, 0.40);
          font-weight: bold;
          background-color: hsl(120, 19.6%, 40.1%);
          text-decoration: underline;
        }

        &:active {
          background-color: hsl(120deg, 19.6%, 20.1%);
          border: hsl(120deg, 19.6%, 30.1%);
          box-shadow: inset 0px 4px 5px #0000005A;
        }
      }
    }
  }
}

