:root {
  --hover-green: hsl(130, 17.6%, 20%);
}

.store-dropdown {
  background: var(--hover-green);
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin-top: 70px;
  border-radius: 12px;
  border: 1px solid var(--fern-green);
  box-shadow: 0 8px 9px -8px black;
  box-sizing: border-box;
  position: absolute;
  height: 35vh;
  overflow-y: scroll;
  width: 43.6vw;
  flex-direction: column;
  z-index: 2;

  h3 {
    margin: 0;
    margin-bottom: 3px;
    color: var(--timberwolf);
  }

  hr {
    width: 90%;
    border-color: hsla(82, 20%, 62%, 0.3);
  }

  button {
    background-color: hsl(120deg, 17.6%, 25%);
    color: white;
    border: 1px solid transparent;
    padding: 8px 0px;
    margin: 7px 0;
    border-radius: 5px;
    box-shadow: 0 4px 4px #0000004a;
    font-weight: 600;

    &:hover {
      border: 1px solid var(--fern-green);
      cursor: pointer;
      font-weight: 700;
      letter-spacing: 0.04em;
    }

    .location {
      color: hsla(119deg, 19%, 69%, 1);
      text-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.5);
    }
  }

  .add-store {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > button {
      height: 31px;
      margin-top: 10px;
      padding: 6px 9px;

      &:hover {
        letter-spacing: 0;
      }
    }

    & > div {
      margin-right: 10px;
      width: 44%;

      input {
        margin-left: 3px;
        padding: 6px 5px;
        border-radius: 8px;
        outline: none;
        border: 1px solid var(--hunter-green);
      }
    }
  }
}

.form-general label .item-box {
  display: flex;

  input, .price-label select {
    outline: none;
    background-color: hsl(151.2, 28.1%, 21.5%);
    border: 1px solid transparent;
    border-radius: 5px;

    &:hover, &:focus {
      border: 1px solid var(--fern-green);
    }
  }

  .price-label {
    flex-direction: column;
  }
}
